<!DOCTYPE html>
<html lang="en">
  <head>
    {{> meta}}
  </head>
  <body>
    {{> header}}

    <h2>Sorry..!</h2>
    <h3>Error Name: {{ error.name }}</h3>
    <h4>Error Message: {{ error.message }}</h4>
    <hr />
    <h3>Error Stack:</h3>
    <pre>
      {{ error.stack }}
    </pre>

    {{> footer}}
  </body>
</html>
